footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
}

.book-flex {
  display: flex;
}

.main-page {
  margin-top: 3em;
  margin-bottom: 3em;
}

img {
  width: 25vw;
}

h1 {
  text-align: center;
}